.cart {
    display: flex;
    align-items: center;
}

.cart img {
    width: 50px;
    margin-right: 5px;
}

.cart a {
    text-decoration: none;
}

.restaurantButton {
    display: flex;
    align-items: center;
}

.restaurantButton span {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.restaurantButton button {
    margin: 0 25px;
    background-color: #ff7f50;
    border: 2px solid #ff6a33;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 26px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    box-sizing: border-box;
}

.restaurantButton button:active {
    transform: scale(0.98);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.restaurantListContainer {
    width: 330px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    height: calc(100vh - 20px);
    box-sizing: border-box;
}

.restaurantListItem {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.restaurantAddress {
    padding: 8px 10px;
    background-color: #fff;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    box-sizing: border-box;
}

.restaurantAddress:hover {
    background-color: #ff7f50;
    cursor: pointer;
}

.menu-card {
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    max-height: 250px;
    max-width: 250px;
    align-content: center;
    position: relative;
}

.menu-items {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.menu-card-title {
    overflow: hidden;
}

.menu-card-description {
    text-align: justify;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    width: 230px;
    max-width: 230px;
    box-sizing: border-box;
}

.menu-card-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 3px solid #fd7e4f;
    background: white;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 26px;
}

.menu-card-footer {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu-card-price {
    text-align: right;
    font-weight: bold;
}


.restaurantListContainer {
    position: absolute;
    top: 67px;
    right: 0;
    left: auto;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: auto;
    min-height: 91%;
    max-width: 390px;
}