.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.nav ul {
    display: flex;
    list-style: none;
    margin-left: 15px;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search form {
    display: flex;
    gap: 10px;
}

.search input {
    padding: 5px;
    font-size: 14px;
}

.search button {
    padding: 5px 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
}

.header-right {
    margin-left: auto;
    list-style: none;
    gap: 20px;
    align-items: center;
}
